body {
    background-color: #02040f;
}

#container {
    display: flex;
    flex-direction: row;
}
#addTask{
    width:280px;
    background-color: #dfd1d3;
}

#addContainer{
    height: 280px;
    width: 305px;
    display: flex;
    flex-direction: column;
}

#parentType{
    width: 400px;
    display: flex;
    flex-direction: row;
}

.article {
    display: flex;
    flex-direction: column;
    margin: 0 14px 0 14px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 400px;
    background-color: #967AA1;
}

.article input {
    margin-bottom: 25px;
    width: 261px;
}

.article label {
    margin: 10px;
}

#createBtn {
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 30px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 10px;
    background-color: #FAD4C0;
    border-radius: 10px;
    width: 360px;
    position: relative;
    cursor: grab;
}

.txtInput {
    display: flex;
    justify-content: left;
    font-family: 'Work Sans', sans-serif;
    width: 265px;
    margin-bottom: 5px;
}

#cat{
    margin: 20px 20px 0 19px;
}
.titleType{
    font-family: 'Fredoka One', cursive;
    color: #531253;
    font-size: 20px;
}
#paw{
    height: 30px;
    width: 30px;
}
.titleCardToDo{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #ef27a6;
}
.titleCardDoing{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #64b6ac;
}
.titleCardFinish{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: #659157;
}
.dateText{
    color: gray;
    font-family: 'Work Sans', sans-serif;
    margin: 15px;
}

.btnContainer {
    display: flex;
    width: 100%;
    justify-content: right;
}


#descriptionTask{
    width: 262px;
}

.descriptionText{
    color:#170312;
    font-family: 'Fredoka One', cursive;
    margin: 15px;
}

.textType{
    font-family: 'Work Sans', sans-serif;
    margin: 15px;
}

#txtHelp{
    font-family: 'Work Sans', sans-serif;
    color: #967AA1;
    margin-left: 15px;
}

.eraseBtn {
    border-radius: 10px;
    border: none;
    cursor:pointer;
    margin: 4px 0 0 340px;
}
