# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\USER\Desktop\Universidad\Programacion\Repositorios_2020-2\ProgRed-Workspace\Neko Task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
